body{

}

#title{
    font-family: 'Orbitron', sans-serif;
}

.blogpost{
    border: solid red 2px;
}

.blogpost-title-text{
    font-size: 48px;
    font-family: 'Cantarell', sans-serif;
}

.blogpost-content-text{
    font-size: 24px;
    word-wrap: normal;
    font-family: 'Cantarell', sans-serif;
}

.blogpost-categories-text{
    font-style: italic;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

.blogpost-date-text{
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

/*https://www.itsupportguides.com/knowledge-base/website-tips/css-wildcard/*/
div[class$='div']{
    margin: 2px;
    padding: 2px;
    border: solid   green   2px;
    /*display: block;*/
}

span[class$='text']{
    margin: 2px;
    padding: 2px;
    border: solid   blue   2px;
}